.App {
  text-align: center;
  align-items: center;
  padding: 10px  30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.plusbutton{
  
 
  padding: 10px 20px;
  border: solid black 1px;
  border-radius: 5px;
}

input{
  height: 30px;
  width: 30%;
  min-width: 80%;
  border: solid black 1px;
  border-radius: 5px;
}

.delete-button{  
  padding: 10px 10px;
  border: solid black 1px;
  border-radius: 5px;
  
}

.todo-item{
  margin: 10px auto;
  width: 50%;
  max-width: 80%;
  min-width:  fit-content;
  padding: 0px 10px;
  align-items: center; 
  border: solid black 1px;
  border-radius: 5px;
 
}
.single-item{
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 0px 5px;  
  color: white;
  background-color: #282c34;
  margin-top: 10px;
}


